html{
    font-size: 62.5%;
  }
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 1.6rem;
    line-height: 2;

}


 


  @media (min-width:1200px){

      .bg{
          background: var(--fondo-principal);
          padding: 20px;
          height: 850px;
        
     
      }
  }
  

  
  .bg{
    background: var(--fondo-principal);
 
}


.contenedor{
    max-width: 1500px;
    width: 95%;
   
    display: grid;
    grid-template-columns: 1fr ;
    color: var(--blanco);
 
}


@media (min-width:1200px){




    .contenedor{
        max-width: 1500px;
        width: 95%;
        margin: 0 auto;
        display: grid;
        gap: 5rem;
        grid-template-columns: 1fr 2fr;
        color: var(--blanco);
       
     
    }

  




}



.contenedor{
    color: var(--blanco);
}






.boton_cv{

    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
}


.boton_cv a{
    text-align: center;
    text-decoration: none;
    font-size: 2.3rem;
    background: #c80d24;
    width: 100%;
    font-family: var(--fuente-secundaria);
    display: block;
    font-weight: bold;
    border-radius: 20px;

    color: var(--blanco);
    margin: .4rem 0rem;
}

.boton_cv a:hover{
    background: white;
    color: var(--color-primario);
    transition: all .4s ease;

}

@media (min-width:768px){

    .boton_cv a{
        text-align: center;
        text-decoration: none;
        font-size: 2.3rem;
        background: #c80d24;
        width: 70%;
        font-family: var(--fuente-secundaria);
        display: block;
        font-weight: bold;
        border-radius: 20px;
    
        color: var(--blanco);
        margin: .4rem 0rem;
    }
}


.card{
    background:#0b111f;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    margin-top: 30px;
}

.proyectos {
margin: 5rem 0rem;
display: grid;
gap: 40px;
grid-template-columns: 1fr ;
}


@media (min-width:768px){
    .proyectos {
        margin: 4rem 0rem;
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr 1fr ;
        }
}




@media (min-width:1200px){
    .proyectos{
      display: grid;
      gap: 3rem;
      grid-template-columns: 1fr  1fr ;
      
    }
    
    
    .card{
        background:#0b111f;
        max-width: 100%;
        margin: 0 auto;
   
        width: 90%;
        display: flex;
        align-items: center;
        padding: 5rem 0rem;
        flex-direction: column;
        border-radius: 30px 20px 30px 30px;
    }
}


.proyectos img{
  width: 100%;
    height: 220px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;

}

@media (min-width:992px){

    .proyectos img:hover{
        transform: scale(1.1);
        transition: transform .3s ease;
    }
}


.contenido img{
    margin: auto;
    display: block;
    width: 100%;
}

h1{
    font-size: 2.5rem;
    font-weight: bold;
 
    display: none;
    text-align: center;
    font-family: var(--fuente-titular);
}

h2{
    font-size: 2.5rem;
    text-align: center;
    font-family: var(--fuente-secundaria);
    color:var(--color-primario);
   font-size: 4rem;

}

@media (min-width:1200px){
    h1{
        font-size: 3.5rem;
        font-weight: bold;
        display: block;
        text-align: center;
        font-family: var(--fuente-titular);
    }
}


@media (min-width:768px){
  
    
    h2{
        font-size: 3rem;
        font-family: var(--fuente-titular);
        color:var(--color-primario);
        font-weight: bold;
    }

}


.titular h2{
    display: inline-block   ;
    background: #000;
    width: 100%;
}

.redes-sociales{
    display: flex;
    align-items: center;

}

.redes-sociales img{
    width: 5.5rem;
    
}


.contenedor .img-perfil{
  width: 200px;
  border-radius: 30px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

/* iconos*/
.icono{
   color: white;
   font-size: 5rem;
    margin: 0px 10px;


}


@media (min-width: 200px) and (max-width: 350px) {
    header h3{
        font-size: 20px;
    }
}
