.contenedor_sobre {
    background: #020a22f5;
    padding-bottom: 10rem;
   
}



.contenedor_sobre .sobre_mi{
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
    max-width: 1500px;
    width: 95%;
  
}

.titulo_2{
    padding: 10rem 0rem;
    
}



@media (min-width:1200px){

    .titulo_2 h2{
        position: relative;
    }
    .sobre_mi .titulo_2 h2:after{
        content: '';
        position: absolute;
        background-color: #ffffff;
        content: "";
        height: 3px;
        display: flex;
        align-items: start;
        justify-content: start;
        top: 67px;
        left: 0;
        width: 33%;
        
    }
    .sobre_mi .titulo_2 h2:before{
        content: '';
        position: absolute;
        background-color: #ffffff;
        content: "";
        height: 3px;
        display: flex;
        align-items: start;
        justify-content: start;
        top: 67px;
        right: 0;
        width: 33%;
    }
    
}

.sobre_mi .titulo{
    padding: 10rem 0rem;
 
}

.sobre_mi .titulo h2{
   position: relative;
}

@media (min-width:1200px){

    .sobre_mi .titulo h2:after{
        content: '';
        position: absolute;
        background-color: #ffffff;
        content: "";
        height: 3px;
        display: flex;
        align-items: start;
        justify-content: start;
        top: 67px;
        left: 0;
        width: 33%;
    
    }
    .sobre_mi .titulo h2:before{
        content: '';
        position: absolute;
        background-color: #ffffff;
        content: "";
        height: 3px;
        display: flex;
        align-items: start;
        justify-content: start;
        top: 67px;
        right: 0;
        width: 33%;
    }
    
}

.contenido_sobre{
    background: #000814;
    padding: 4rem;
    border-radius: 25px;
}

.sobre_mi h2{
    text-align: center;

}

@media (min-width:1200px){

    .grid_sobre{
        display: grid;
        grid-template-columns: 2fr 3fr;
        align-items: center;
        gap: 5rem;
    }
}

.sobre_mi h2{
    font-size: var(--font-lg);
  
}

.grid_sobre .imagen img{
    width: 100%;
}

.contenido_sobre p{
    font-size: 1.8rem;
    color: white;
    font-family: var(--fuente-secundaria);
    font-weight: 500;
    font-weight: 500;
    margin: 20px 0px;
    text-align: start;
    width: 100%;
}

.contenido_sobre{
    padding: 2rem;
    
}

@media (min-width:992px){
    .contenido_sobre p{
        font-size: 2rem;
        color: white;
        font-family: var(--fuente-secundaria);
        font-weight: 500;
        margin: 20px 0px;
        text-align: start;
        width: 100%;
        
    }

    .contenido_sobre{
        padding: 4rem;
    }

}

.contenido_sobre p span{
    color: var(--color-primario);
    font-weight: bold;
}

@media (min-width:992px){
    .contenedor_destacado{
        display: grid;
        grid-template-columns: 3fr 3fr;
        align-items: center;
       
        gap: 3rem;
    }

}

@media (min-width:1200px){
    .contenedor_destacado{
        display: grid;
        grid-template-columns: 2fr 3fr;
        align-items: center;
       
        gap: 3rem;
    }
}



.contenedor_destacado .imagen_proyecto img{
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
}

.lista {
    background: #000814;
    padding: 4rem;
    border-radius: 25px;
    margin: 3rem 0rem;
}

.lista h3{
    font-family: var(--fuente-titular);
    font-size: 2.6rem;
   color: var(--color-primario);
   font-weight: 900;
}

.lista li{
    font-size: 1.8rem;
    list-style: none;
    color: var( --blanco);
    font-family: var(--fuente-secundaria);
    text-align: start;
    font-weight: 500;
    line-height: 2.3;
    
}

